* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 120px;
}

.navbar {
    display: flex;
    list-style: none;
    gap: 32px;
}

.navbar a {
    text-decoration: none;
    color: #000000;
}

.btn {
    padding: 12.5px 16px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-weight: 600;

}