* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.interfont {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 120px;
}

.navbar {
    display: flex;
    list-style: none;
    gap: 32px;
}

.navbar a {
    text-decoration: none;
    color: #000000;
}

.btn {
    padding: 12.5px 16px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-weight: 600;

}

.btn:hover {
    cursor: grab;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
    transform: translateY(-1px);
}

.banner {
    text-align: center;
    padding: 115.5px 0px;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 674px;
}

.status-icon {
    height: 16px;
    width: 16px;
}

.early-access {
    display: flex;
    align-items: center;
    gap: 3px;
    background-color: #FFFFFF;
    color: #469165;
    font-weight: 500;
    margin: 16px auto;
    width: 229px;
    padding: 8px 12px;
    border-radius: 999px;

}

.heading h1 {
    font-size: 72px;
    color: #FFFFFF;
}

#txtcolor {
    color: #30B868;
}

.heading p {
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.bannerbtn {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btnwhite {
    background: none;
    border: 2px solid whitesmoke;
}

.motivationtxt {
    margin: 0 auto;
    text-align: center;
}

.motivationtxt h1 {
    font-size: 48px;
    color: #001931;
    padding: 40px 0px 20px;
}

.motivationtxt p {
    color: #627382;
    line-height: 20px;
}

.motivationcard {
    display: flex;
    gap: 24px;
    margin: 44px 120px 0px;

}

.mcard-body {
    text-align: center;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
    padding: 69.5px 24px;
}

.icon-bg {
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.mcard-body h2 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-top: 16px;
}

.mcard-body p {
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}

.solution {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 120px;
    gap: 60px;
}

.solutiontxt {
    margin-top: 120px;
    margin-bottom: 120px;
}

#THE-SOLUTION {
    font-weight: 600;
    line-height: 20px;
    color: #469165;
}

.solutiontxt h2 {
    margin-top: 16px;
    font-size: 48px;
    color: #001931;
}

.solutiontxt p {
    margin-top: 16px;
    color: #627382;
    line-height: 20px;
}

.solution-list {
    margin-top: 40px;
    list-style: none;

}

.solution-list li {
    display: flex;
    align-items: center;
    gap: 6px;
    line-height: 20px;
    color: #001931;
    margin-bottom: 16px;
}

.solution-list li img {
    height: 20px;
    width: 20px;
}

.think-clearly {
    margin: 120px 120px;
    padding: 80px 40px;
    text-align: center;
    background-color: #F7F6F2;
}

.think-clearly h2 {
    font-size: 40px;
    color: #001931;

}

.think-clearly p {
    margin-top: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}

footer {
    background-color: #001931;
    padding: 120px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

}

.social h4 {
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.social a {
    background-color: #FFFFFF;
    border-radius: 50%;
    margin-right: 10px;
    color: #000000;
}

footer hr {
    height: 0.5px;
    margin: 20px 0;
}

.copy-right {
    color: #FFFFFF;
    text-align: center;
}